## Introduction to Scikit-Learn

Cover :



0. An end-to-end sckit-learn workflow
1. Getting the data ready
2. Choose the right algorithm for our problem
3. Fit the model and use it tp make prediction
4. Evaluating a model
5. Improve a model.
6. Save and load a trained model
7. Putting it all together !

## 0. An end-to-end sckit-learn workflow

In [3]:
import numpy as np

In [4]:
# 1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
# Create X (feature matrix)
X = heart_disease.drop("target", axis = 1)

# Create y (labels)
y = heart_disease['target']

In [6]:
# Optional : ignore future warning
import warnings
warnings.filterwarnings("ignore")

In [7]:
# 2. Choose the right model
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [8]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
clf.fit(X_train, y_train);

In [10]:
# make a prediction

y_preds = clf.predict(X_test)
y_preds

array([1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0], dtype=int64)

In [11]:
y_test

92     1
128    1
198    0
5      1
224    0
      ..
76     1
33     1
3      1
187    0
202    0
Name: target, Length: 61, dtype: int64

In [12]:
# 4.Evaludate the model on training data and test data
clf.score(X_train, y_train)

1.0

In [13]:
clf.score(X_test, y_test)

0.7377049180327869

In [14]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.66      0.76      0.70        25
           1       0.81      0.72      0.76        36

    accuracy                           0.74        61
   macro avg       0.73      0.74      0.73        61
weighted avg       0.75      0.74      0.74        61

In [15]:
confusion_matrix(y_test, y_preds)

array([[19,  6],
       [10, 26]], dtype=int64)

In [16]:
accuracy_score(y_test, y_preds)

0.7377049180327869

In [17]:
# 5. Improve a model
# Try different amount of n_estimators

np.random.seed(42)
for i in range(10, 100,10):
    print(f"Trying model with {i} estimators...")
    clf= RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy in test set: {clf.score(X_test, y_test)* 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy in test set: 77.05%

Trying model with 20 estimators...
Model accuracy in test set: 73.77%

Trying model with 30 estimators...
Model accuracy in test set: 75.41%

Trying model with 40 estimators...
Model accuracy in test set: 78.69%

Trying model with 50 estimators...
Model accuracy in test set: 77.05%

Trying model with 60 estimators...
Model accuracy in test set: 75.41%

Trying model with 70 estimators...
Model accuracy in test set: 77.05%

Trying model with 80 estimators...
Model accuracy in test set: 78.69%

Trying model with 90 estimators...
Model accuracy in test set: 78.69%

In [18]:
# 6. Save a model and load it
import pickle

pickle.dump(clf, open("random_forst_model_1.pkl", "wb"))

In [19]:
loaded_model = pickle.load(open("random_forst_model_1.pkl","rb"))
loaded_model.score(X_test, y_test)

0.7868852459016393

## 1. Getting our data ready to be used with machine learning

Three main things we have to do:


    1. Split the data into features and labels (usually `X` & `Y`)
    2. Filling (also called imputting) or idsregarding missing values
    3. Converting non-numerical values to numerical values (also called feature encoding)

In [20]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [21]:
X = heart_disease.drop("target", axis = 1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [22]:
y = heart_disease["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [23]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [24]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [25]:
X.shape

(303, 13)

In [26]:
len(heart_disease)

303

### 1.1 Make sure its all numerical

In [27]:
import pandas as pd
car_sales = pd.read_csv("car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [28]:
len(car_sales)

1000

In [29]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [30]:
from sklearn.model_selection import train_test_split
# Split into X/y

X = car_sales.drop("Price", axis=1)
y = car_sales['Price']

# Split into training test

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [31]:
# Build machine learning model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

ValueError: could not convert string to float: 'Toyota'

In [ ]:
# Turn the category into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_feature = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                one_hot,
                                 categorical_feature)],
                                remainder="passthrough"
                               )
transformed_X = transformer.fit_transform(X)
transformed_X

In [ ]:
pd.DataFrame(transformed_X)

In [ ]:
dummies = pd.get_dummies(car_sales[["Make","Colour","Doors"]])
dummies

In [ ]:
import numpy as np
# lets refit the model
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)
model.fit(X_train, y_train)

In [ ]:
model.score(X_test, y_test)

### 1.2 What if there were missing values ?

1. Fill them with some value (also known as imputation)
2. Remove the samples with missing data altogether.

In [ ]:
# import car sales missing data

car_sales_missing = pd.read_csv("car-sales-extended-missing-data.csv")
car_sales_missing

In [ ]:
# Check missing data
car_sales_missing.isna().sum()

In [ ]:
# option 1 : Fill missing data with Pandas

car_sales_missing["Make"].fillna("missing", inplace=True)
car_sales_missing["Colour"].fillna("missing", inplace=True)
car_sales_missing['Odometer (KM)'].fillna(car_sales_missing['Odometer (KM)'].mean(), inplace=True)
car_sales_missing['Doors'].fillna(4, inplace=True)

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
# Remove rows with missing Price value
car_sales_missing.dropna(inplace=True)

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
len(car_sales_missing)

In [ ]:
# Create X & y
X = car_sales_missing.drop("Price", axis =1)
y = car_sales_missing['Price']

In [ ]:
# Let's try and convert to numbers
# Turn the category into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_feature = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                one_hot,
                                 categorical_feature)],
                                remainder="passthrough"
                               )
transformed_X = transformer.fit_transform(car_sales_missing)
transformed_X

### option 2 : fill missing value with Scikit-learn

In [ ]:
car_sales_missing = pd.read_csv("car-sales-extended-missing-data.csv")
car_sales_missing.head()

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
# Drop the rows with no labels
car_sales_missing.dropna(subset=["Price"], inplace=True)
car_sales_missing.isna().sum()

In [ ]:
# Split into X & y
X = car_sales_missing.drop("Price", axis = 1)
y = car_sales_missing['Price']

In [ ]:
X.isna().sum()

In [ ]:
# Fill missing value with SKLearn
from sklearn.impute import SimpleImputer

from sklearn.compose import ColumnTransformer

# Fill categorical values with missing & numerical values with mean
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer = SimpleImputer(strategy="mean")

# Define column
cat_features = ["Make", "Colour"]
door_features = ["Doors"]
num_features = ["Odometer (KM)"]

# Create an imputer (something that fills missing data)
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_features),
    ("num_imputer", num_imputer, num_features)
])

# Transform the data
filled_X = imputer.fit_transform(X)
filled_X

In [ ]:
car_sales_filled = pd.DataFrame(filled_X, columns=["Make","Colour","Doors","Odometer (KM)"])
car_sales_filled.head()

In [ ]:
car_sales_filled.isna().sum()

In [ ]:
# Let's try and convert to numbers
# Turn the category into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_feature = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                one_hot,
                                 categorical_feature)],
                                remainder="passthrough"
                               )
transformed_X = transformer.fit_transform(car_sales_filled)
transformed_X

In [ ]:
# now we've got our data and filled
# Let's fit a model

np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

In [ ]:
len(car_sales_filled), len(car_sales)

## 2. Choosing the right estimator/algoruthm for your problem

Somethings to note :
    * Sklearn refers to machine learning models, algorithm as estimators
    
    * Classification problem - predicting a category (heart disease or not)
   
    * Sometimes you'll see clf (short for classifier) used as classification estimator
    
    * Regression problem - predicting a number (selling price of a car)

### 2.1 Picking a ML model for a regression problem
Lets use the California Housing dataset

In [ ]:
# get california housing dataset
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing

In [ ]:
housing_df = pd.DataFrame(housing['data'], columns=housing['feature_names'])
housing_df

In [ ]:
housing_df["target"] = housing['target']
housing_df.head()

In [ ]:
housing_df = housing_df.drop("MedHouseVal", axis=1)

In [ ]:
housing_df

In [ ]:
# Import algorithm
from sklearn.linear_model import Ridge
# Setup random ssed
np.random.seed(42)

# Create the data
X = housing_df.drop("target", axis = 1)
y = housing_df['target']

# Split the data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Instantiate and fit the model (on the training set)
model = Ridge()
model.fit(X_train, y_train)

# Check the score of the model (on the test set)
model.score(X_test, y_test)

Try a different model

In [ ]:
# Import the RandomForestRegression model
from sklearn.ensemble import RandomForestRegressor

# Set random seed
np.random.seed(42)

# Create the data
X = housing_df.drop("target", axis = 1)
y = housing_df['target']

# Split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Create random forest Model
model = RandomForestRegressor()
model.fit(X_train, y_train)

# Check the score
model.score(X_test, y_test)

In [ ]:
## 2.2 Picking a ML model for classification problem

In [ ]:
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease.head()

In [ ]:
len(heart_disease)

In [ ]:
# import
from sklearn.svm import LinearSVC

#Setup random seed
np.random.seed(42)

# Make the data
X = heart_disease.drop("target", axis=1)
y = heart_disease['target']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Instantiate Linear SVC
clf = LinearSVC()
clf.fit(X_train, y_train)

# Evaludate the Linear SVC
clf.score(X_test, y_test)

In [ ]:
heart_disease['target'].value_counts()

In [ ]:
# import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

#Setup random seed
np.random.seed(42)

# Make the data
X = heart_disease.drop("target", axis=1)
y = heart_disease['target']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Instantiate Linear RandomForest Classifier
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

# Evaludate the RandomForest
clf.score(X_test, y_test)

Note :

    1. If you have structure data: used ensemble methods.
    
    2. If you have unstruct data : used deep-learing, transfer learning

## 3. Fit the model/algorithm on data and use it to make predictions

### 3.1 Fitting the data

X = features, features variables, data

y = labels, target, target variables

In [ ]:
# import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

#Setup random seed
np.random.seed(42)

# Make the data
X = heart_disease.drop("target", axis=1)
y = heart_disease['target']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Instantiate RandomForest Classifier
clf = RandomForestClassifier()

# Fit the model to the data (training the ML model)
clf.fit(X_train, y_train)

# Evaludate the RandomForest (use the patterns the model has learned)
clf.score(X_test, y_test)

In [ ]:
X.head()

In [ ]:
y.tail()

### 3.2 Make predictions using a ML model

2 ways to make predictions :

1) predict()

2) predict_proba()

In [ ]:
X_test

In [ ]:
# Use a trained model to make a predictions

clf.predict(X_test)

In [ ]:
np.array(y_test)

In [ ]:
# Compare predictions to truth labels to evaludate the model
y_preds = clf.predict(X_test)
np.mean(y_preds == y_test)

In [36]:
clf.predict_proba(X_test[:5])

NotFittedError: This RandomForestClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.